## import

In [1]:
import pandas as pd

## dic()

In [2]:
data = {
    'item_1': '12', 
    'item_2': '12', 
    'item_3': '12', 
    'item_4': '0'
}
data ={x:y for x,y in data.items() if y!='0'}
data

{'item_1': '12', 'item_2': '12', 'item_3': '12'}

## make list() from dic()

In [3]:
id_lst =[]
value_lst =[]

for i in data.items():
    id = i[0].replace('item_', '')
    id_lst.append(id)
    value = i[1]
    value_lst.append(value)

print(id_lst)
print(value_lst)

['1', '2', '3']
['12', '12', '12']

## product table

In [4]:
df_1=pd.read_csv(r'D:\Desktop\sales order report\salesorder\product_update.csv')
df_1

   id product                p_name   UOM   tp
0   1    p001  Coca-cola-200ml(RGB)  CASE  200
1   2    p002     sprite-200ml(RGB)  CASE  200
2   3    p003  coca-cola-250ml(PET)  CASE  250
3   4    p004     sprite-250ml(PET)  CASE  250

## add last 3 column on copy dataframe

In [5]:
df_p_1= df_1.copy()

df_p_1['order_qty'] = 0
df_p_1['bonus_qty'] = 0
df_p_1['balance'] = 0
df_p_1

   id product                p_name   UOM   tp  order_qty  bonus_qty  balance
0   1    p001  Coca-cola-200ml(RGB)  CASE  200          0          0        0
1   2    p002     sprite-200ml(RGB)  CASE  200          0          0        0
2   3    p003  coca-cola-250ml(PET)  CASE  250          0          0        0
3   4    p004     sprite-250ml(PET)  CASE  250          0          0        0

## promotion table after filtering  the dealer name

In [6]:
data_1 = {'id': [1,2,3,4,5,6],
        'p_code': ['p001','p002', 'p002', 'p003', 'p004','p003'],
        'p_name': ['coca-cola-200ml(RGB)','sprite-200ml(RGB)','sprite-200ml(RGB) ', 'coca-cola-250ml(PET)', 'sprit-250(PET)','coca-cola-250ml(PET)'],
        'UOM': ['CASE','CASE', 'CASE', 'CASE', 'CASE', 'CASE'],
        'order_qty': [12,12, 12, 12, 12,12],
        'bonus_qty': [2,1, 1, 1, 1, 1],
        'status': [0,1, 1, 0, 1, 1],
        'sdp': ['db-001','db-001', 'db-002', 'db-003', 'db-004','db-005'],
        'region':['Khulna','Khulna', 'Barisal', 'Cumilla', 'Chittagong','Khulna'],
        'territory':['khulna base-1','khulna base-1', 'gournodi', 'nohakhali', 'ctg base-1','jessore'],
        'remarks':['good','good', 'average', 'happy', 'not bad','good'],
        'efficitive_data':['1/11/2022','1/11/2022', '1/11/2022', '1/11/2022', '1/11/2022',  '1/11/2022'],
        'Entry_date':['10/11/2022','10/11/2022', '10/11/2022', '10/11/2022', '10/11/2022',  '10/11/2022']
        }
  
# Create DataFrame
df = pd.DataFrame(data_1)
#df = df.insert(loc = 4,column = 'PPA',value = '<input type="checkbox" />') 
# Print the output.
print("----Promotion table----")
# print(df)

dealer_name = "db-001"
df_1=df[df['sdp']==dealer_name]
#df_1 = df_1.reset_index()
df_1

----Promotion table----

,id,p_code,p_name,UOM,order_qty,bonus_qty,status,sdp,region,territory,remarks,efficitive_data,Entry_date
0,1,p001,coca-cola-200ml(RGB),CASE,12,2,0,db-001,Khulna,khulna base-1,good,1/11/2022,10/11/2022
1,2,p002,sprite-200ml(RGB),CASE,12,1,1,db-001,Khulna,khulna base-1,good,1/11/2022,10/11/2022

In [7]:
id_lst = [int(x) for x in id_lst]
df_p_2 = df_p_1[df_p_1['id'].isin(id_lst)]


product_code=list(df_p_2['product'])
product_code


dff = df_1[df_1['p_code'].isin(product_code)]
dff

order_qty = [int(x) for x in list(dff['order_qty'])]
bonus_qty = [int(x) for x in list(dff['bonus_qty'])]
pro_code =  [x for x in list(dff['p_code'])]
print(order_qty) 
print(bonus_qty)
print(pro_code)

[12, 12]
[2, 1]
['p001', 'p002']

In [8]:
value_lst = [int(x) for x in value_lst]
df_p_2 = df_p_1[df_p_1['id'].isin(id_lst)]
tp=df_p_2['tp']

# value_lst_1 =list(filter(lambda a: a != 0, value_lst))
# value_lst_1

In [9]:
for num1, num2 in zip(bonus_qty,value_lst):
    print(num1)
    print(num2)

2
12
1
12

In [10]:
bnv = [int(num1*num2) for num1, num2 in zip(bonus_qty,value_lst)]
bnv
divition = [int(n1/n2) for n1,n2 in zip(bnv, order_qty)]
divition

[2, 1]

In [11]:
value_lst

[12, 12, 12]

In [12]:
df_p_1.loc[df_p_1['id'].isin(id_lst), "order_qty"] =value_lst
df_p_1.loc[df_p_1['product'].isin(pro_code), "bonus_qty"] = list(pd.Series(divition))
df_p_1.loc[df_p_1['id'].isin(id_lst), "balance"] = tp*value_lst
df_p_1 = df_p_1.fillna(0)
df_p_1

   id product                p_name   UOM   tp  order_qty  bonus_qty  balance
0   1    p001  Coca-cola-200ml(RGB)  CASE  200         12          2     2400
1   2    p002     sprite-200ml(RGB)  CASE  200         12          1     2400
2   3    p003  coca-cola-250ml(PET)  CASE  250         12          0     3000
3   4    p004     sprite-250ml(PET)  CASE  250          0          0        0

In [14]:
sum_balance = df_p_1['balance'].sum()
sum_balance

7800

In [22]:
pro_amount = df_p_1['tp'] * df_p_1['bonus_qty']
pro_amount = pro_amount.sum()
pro_amount

600

In [23]:
net_total = sum_balance + pro_amount
net_total

8400